{% extends "base.html" %}

{% block title %}Delete comment{% endblock %}

{% block content %}
<section class="prose-lg prose-a:no-underline h-auto mt-24 prose-h1:mb-1">
    <form method="post" action="" class="flex items-center flex-col justify-center">
        {% csrf_token %}
        <div>
            <h1>Deleting comment</h1>
        </div>

        <p>Are you sure you want to delete selected comment?</p>
        <div class="flex justify-around items-center w-1/4">
            <div>
                <button class="py-1.5 px-4">
                    <a href="{% url 'blog:post_details' comment.post|slugify %}">Go back</a>
                </button>
            </div>

            <div>
                <input type="submit" value="Delete"
                    class="py-1.5 px-4 rounded-md text-stone-50 inline-flex bg-neutral-900 hover:bg-neutral-800 cursor-pointer" />
            </div>
        </div>
    </form>
</section>
{% endblock %}