{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<section
    class="prose-lg prose-a:no-underline flex flex-col justify-center items-center h-auto mt-24 prose-h1:mb-1 prose-ul:pl-0 prose-li:pl-0">

    <div>
        <h1>Setting New Password</h1>
    </div>

    {% if messages %}
    <ul class="container flex items-center justify-center m-auto">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} font-bold" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <form method="post" action="" class="mt-8">
        <div>
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="new-password-1" class="font-bold mb-1">Your new password</label>
                {{ form.new_password1 }}
            </div>

            <div class="flex flex-col mt-5">
                <label for="new-password-2" class="font-bold mb-1">Confirm new password</label>
                {{ form.new_password2 }}
            </div>
        </div>
        <div class="mt-8">
            <input type="submit" value="Submit"
                class=" py-1.5 px-4 rounded-md text-stone-50 inline-flex bg-neutral-900 hover:bg-neutral-800 cursor-pointer" />
        </div>
    </form>
</section>
{% endblock %}