{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load markdown %}


{% if messages %}
<ul>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div class="container m-auto flex justify-between items-center flex-col prose prose-a:no-underline prose-ul:list-none prose-ul:p-0">

    <!-- SEARCH FORM -->
    <form method="post" action="{% url 'blog:homepage' %}" class="my-10">
        {% csrf_token %}
        <div>
            <input value="{{ q }}" type="text" name="q" placeholder="Search for post, category..."
                class="drop-shadow-md bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg px-3.5 py-2.5 w-96 mx-2" />
            <button type="submit"
                class="mx-2 py-1.5 px-4 rounded-md text-stone-50 inline-flex bg-neutral-900 hover:bg-neutral-800">Search</button>
        </div>
    </form>

    <!-- BLOG POST  -->
    {% for post in page_obj %}
    <a href="{% url 'blog:homepage' %}{{post.title|slugify}}" class="my-5">
        <article class="flex justify-center border rounded-lg bg-white px-16 drop-shadow-lg hover:bg-neutral-50">
            <div>
                <h2 class="font-bold">
                    <h3>{{ post.title }}</h3>
                </h2>
                <p class="line-clamp-1 text-sm"> {{ post.content|markdown|striptags }}</p>
            </div>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="" class="w-32 h-32 pl-5" />
            {% endif %}
        </article>
    </a>
    {% endfor %}

    <!-- PAGINATION -->
    <ul class="flex justify-center items-center">
        {% if page_obj.has_previous %}
        <!-- FIRST PAGE BUTTON-->
        <li>
            <a href="?page=1&q={{ q }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="m15 15l-3-3l3-3m-4 6l-3-3l3-3" />
                        <path d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                    </g>
                </svg>
            </a>
        </li>
        <!-- PREVIOUS PAGE BUTTON-->
        <li>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ q }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="m13 15l-3-3l3-3" />
                        <path d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                    </g>
                </svg>
            </a>
        </li>
        {% endif %}

        <!-- PAGINATION NUMBER OF PAGES -->
        {% if page_obj.paginator.num_pages > 1 %}
            {% if page_obj.number > 3 %}
                <!-- FIRST PAGE LINK-->
                <li>
                    <a href="?page=1&q={{ q }}">1</a>
                </li>
                <!-- ELLIPSIS -->
                <li>
                    <span>...</span>
                </li>
            {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <li>
                    {% if i == page_obj.number %}
                        <!-- ACTIVE PAGE -->
                        <a href="?page={{ i }}&q={{ q }}" class="font-bold">{{ i }}</a>
                    {% else %}
                        <!-- RANGE OF PAGES -->
                        <a href="?page={{ i }}&q={{ q }}">{{ i }}</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
            <!-- ELLIPSIS -->
            <li>
                <span>...</span>
            </li>
            <!-- LAST PAGE LINK-->
            <li>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ q }}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% endif %}
        {% endif %}

        {% if page_obj.has_next %}
        <!-- NEXT PAGE BUTTON-->
            <li>
                <a href="?page={{ page_obj.next_page_number }}&q={{ q }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2">
                            <path d="m11 9l3 3l-3 3" />
                            <path d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                        </g>
                    </svg>

                </a>
            </li>
            <!-- LAST PAGE BUTTON-->
            <li>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ q }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2">
                            <path d="m9 9l3 3l-3 3m4-6l3 3l-3 3" />
                            <path d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                        </g>
                    </svg>
                </a>
            </li>
        {% endif %}
    </ul>

</div>
{% endblock %}