{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% if messages %}
<ul>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="login-form">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Username" />
        </div>
        <div class="login-form">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password" />
        </div>
        <input type="submit" value="Submit" />

        <a href="{% url 'blog:register_user' %}">Register</a>
        <a href="{% url 'blog:recover_password' %}">Forgot your password?</a>
    </form>
</div>
{% endblock %}

