{% block content %}
<div>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>{{ post.pub_date }}</p>
    <p>{{ post.slug }}</p>
    <p>{{ post.user }}</p>
    <form action="" method="post">
        {% csrf_token %}
        <h3>Likes: {{ post.like.count }}</h3>
        <button type="submit">Like</button>
    </form>    
   </div>

{% if request.user.is_authenticated %}
<h3>Add a comment:</h3>
<h4>Currently logged as {{ request.user }}</h4>
<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endif %}

{% for comment in comments reversed %}
<div>
    <p>
        {{ comment.user }}
        <span> {{ comment.created_on }} </span>
    </p>
    {{ comment.body }}
</div>
{% endfor %}

{% endblock %}
