{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

<html>
<body>
    {% load static %}
    {% block content %}
    <div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p>{{ post.pub_date }}</p>
        <p class="slugified-url">{{ post.slug }}</p>
        <p>{{ post.user }}</p>
        <p>{{ post.category }}</p>
        {% if request.user == post.user %}
            <a href="{% url 'blog:edit_post' post.slug %}">EDIT</a> 
            <a href="{% url 'blog:delete_post' post.slug %}">DELETE</a>
        {% endif %}
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="" width="420px" height="240px"/>
        {% endif %}
        <form action="" method="post" class="like-form">
            {% csrf_token %}
            <h3>Likes: <p class="like-count-num">{{ post.like.count }}</p>
            </h3>
            {% if request.user.is_authenticated %}
            {% if liked %}
            <button type="submit" class="like-btn">Dislike</button>
            {% else %}
            <button type="submit" class="like-btn">Like</button>
            {% endif %}
            {% endif %}
        </form>
    </div>

    {% if request.user.is_authenticated %}
    <h3>Add a comment:</h3>
    <h4>Currently logged as {{ request.user }}</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% endif %}

    {% for comment in comments reversed %}
    <div>
        <p>
            {{ comment.user }}
            <span> {{ comment.created_on }} </span>
        </p>
        {{ comment.body }}
    </div>
    {% endfor %}

    <script>

        let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let likeBtn = document.querySelector('.like-btn');
        let likeCountNum = document.querySelector('.like-count-num');
        const likeForm = document.querySelector('.like-form');
        const slugUrl = document.querySelector('.slugified-url');

        const request = new Request(
            `/${slugUrl.innerHTML}/`,
            {
                method: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
            }
        );


        likeForm.addEventListener("submit", event => {
            event.preventDefault();

            fetch(request)
                .then(response => response.text())
                .then(html => {
                    let parser = new DOMParser();
                    let data = parser.parseFromString(html, 'text/html');

                    if(likeBtn.innerHTML === "Like") {
                        likeCountNum.innerHTML = parseInt(likeCountNum.innerHTML) + 1;
                        likeBtn.innerHTML = "Dislike";
                    } else {
                        likeCountNum.innerHTML = parseInt(likeCountNum.innerHTML) - 1;
                        likeBtn.innerHTML = "Like";
                    };
                })
                .catch(error => {
                console.error('Error ocurred:', error);
                });
        })
    </script>

    {% endblock %}
</body>
</html>
