{% extends "base.html" %}

{% load static %}

{% load custom_tags %}

{% block title %}Profile Dashboard{% endblock %}

{% block content %}
<div class="flex mx-28 ">
    <main class="pr-20 pt-10">
        <!-- PROFILE  -->
        <section class="border rounded-lg bg-white px-16 py-8">
            {% if request.user|get_profile_image %}
            <figure class="mt-10">
                <img src="{{ user_profile.image.url }}" alt="profile_image" class="rounded-full w-32 h-32 object-cover">
            </figure>
            {% else %}
            <div></div>
            {% endif %}


            <div class="mt-5">
                <h1 class="text-xl font-extrabold">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                <p class="text-sm">@{{ request.user.username }}</p>
                <h2 class="font-extrabold mt-5">About Me:</h2>
                <p>{{ user_profile.bio|striptags }}</p>
                {% if user_profile.location is not None%}
                <div class="flex mt-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" d="m21 3l-6.5 18a.55.55 0 0 1-1 0L10 14l-7-3.5a.55.55 0 0 1 0-1L21 3" />
                    </svg>
                    <span class="pl-1">{{ user_profile.location }}</span>
                </div>
                {% endif %}
            </div>

            <!-- SOCIAL URLS -->
            <div class="mt-5">
                {% if user_profile.twitter_url is not None %}
                <h1>{{ user_profile.twitter_url }}</h1>
                {% endif %}
                {% if user_profile.website_url is not None %}
                <h1>{{ user_profile.website_url }} </h1>
                {% endif %}
                {% if user_profile.instagram_url is not None %}
                <h1>{{ user_profile.instagram_url }} </h1>
                {% endif %}
                {% if user_profile.linked_in_url is not None %}
                <h1>{{ user_profile.linked_in_url }} </h1>
                {% endif %}
            </div>

            <button class="mt-5">
                <a href="{% url 'blog:profile_settings' %}"
                    class="mr-1 inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-gray-600 whitespace-no-wrap bg-white border border-gray-200 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:shadow-none">
                    Edit profile
                </a>
            </button>

            <div class="mt-5 mb-10">
                <a href="{% url 'blog:settings_user' %}"
                    class="mr-1 inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-gray-600 whitespace-no-wrap bg-white border border-gray-200 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:shadow-none">
                    Profile Settings
                </a>
            </div>
        </section>


        <!-- STATISTICS  -->
        <section class="mt-5">
            <div class="border rounded-lg bg-white px-16 py-8">
                <ul class="flex justify-between">
                    <li class="text-lg flex flex-col items-center">
                        Posts written <span class="font-extrabold text-xl pt-3">{{ posts_count}}</span>
                    </li>
                    <li class="text-lg flex flex-col items-center">
                        Comments count <span class="font-extrabold text-xl pt-3">{{ comments_count }}</span>
                    </li>
                    <li class="text-lg flex flex-col items-center">
                        Likes count <span class="font-extrabold text-xl pt-3">{{ likes_count }}</span>
                    </li>
                </ul>
            </div>

            <!-- POSTS  -->
            <div class="pt-5 border rounded-lg bg-white px-16 py-8 mt-5">
                <h1 class="font-extrabold text-2xl pt-5">Most liked posts:</h1>
                {% for post in most_liked_posts %}
                <article class="mt-10">
                    <h2 class="font-bold text-xl">
                        <a href="{% url 'blog:homepage' %}{{post.title|slugify}}">{{ post.title }}</a>
                    </h2>
                    <p class="text-sm line-clamp-2"> {{ post.content|striptags|safe }}</p>
                    {% if post.image %}
                    <figure>
                        <img src="{{ post.image.url }}" alt="" class="w-60 h-40 py-5" />
                    </figure>
                    {% endif %}
                </article>
                {% endfor %}
            </div>

            <div class="border rounded-lg bg-white px-16 py-8 mt-5">
                <h1 class="font-extrabold text-2xl pt-5">Most commented posts:</h1>
                {% for post in most_commented_posts %}
                <article class="mt-10">
                    <h2 class="font-bold text-xl">
                        <a href="{% url 'blog:homepage' %}{{post.title|slugify}}">{{ post.title }}</a>
                    </h2>
                    <p class="text-sm line-clamp-2"> {{ post.content|striptags|safe }}</p>
                    {% if post.image %}
                    <figure>
                        <img src="{{ post.image.url }}" alt="" class="w-60 h-40 py-5" />
                    </figure>
                    {% endif %}
                </article>
                {% endfor %}
            </div>

            <div class="border rounded-lg bg-white px-16 py-8 my-5">
                <h1 class="font-extrabold text-2xl pt-5">Most viewed posts:</h1>
                {% for post in most_viewed_posts %}
                <article class="mt-10">
                    <h2 class="font-bold text-xl">
                        <a href="{% url 'blog:homepage' %}{{post.title|slugify}}">{{ post.title }}</a>
                    </h2>
                    <p class="text-sm line-clamp-2"> {{ post.content|striptags|safe }}</p>
                    {% if post.image %}
                    <figure>
                        <img src="{{ post.image.url }}" alt="" class="w-60 h-40 py-5" />
                    </figure>
                    {% endif %}
                </article>
                {% endfor %}
            </div>
        </section>
    </main>

    <!-- SIDEBAR -->
    <aside class="flex flex-col justify-center mt-10 border rounded-lg bg-white px-16 py-8 max-h-80">
        <div class="px-32">
        </div>

        <div>
            <h1>Example header:</h1>
        </div>

        <div class="py-2">
            <h1>image</h1>
            <h1>test text test text test text test text test text test text test text</h1>
        </div>

        <div class="py-2">
            <h1>image</h1>
            <h1>test text test text test text test text test text test text test text </h1>
        </div>
    </aside>
</div>
{% endblock %}