{% extends "base.html" %}

{% load static %}

{% block title %}Profile Dashboard{% endblock %}

{% block content %}
<div class="flex mx-16">
    <div class="pr-32">
        <!-- PROFILE  -->
        <div class="pt-10">
            <h1>Background photo</h1>
            <h1>Profile image</h1>
        </div>



        <!-- PROFILE INFO -->

        <div class="pt-3 pb-10">
            <h1>Profile info</h1>
        </div>




        <!-- POST AND STATISTICS  -->
        <div>
            <div>
                <p>Posts written by {{ request.user }}: {{ posts_count }}</p>
                <p>Comments written by other users: {{ comments_count }}</p>
                <p>Likes count from other users: {{ likes_count }}</p>
            </div>

            <div>
                <h1 class="font-bold text-2xl pt-5">Most Liked Posts:</h1>

                {% for post in most_liked_posts %}
                <article class="pt-3">
                    <h2 class="font-bold text-xl">
                        <a href="{% url 'blog:homepage' %}{{post.title|slugify}}">{{ post.title }}</a>
                    </h2>
                    <p class="text-sm line-clamp-2"> {{ post.content|striptags|safe }}</p>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" class="w-60 h-40 py-5" />
                    {% endif %}
                </article>
                {% endfor %}
            </div>

            <div>
                <h1 class="font-bold text-2xl pt-5">Most Commented Posts:</h1>

                {% for post in most_commented_posts %}
                <article class="pt-3">
                    <h2 class="font-bold text-xl">
                        <a href="{% url 'blog:homepage' %}{{post.title|slugify}}">{{ post.title }}</a>
                    </h2>
                    <p class="text-sm line-clamp-2"> {{ post.content|striptags|safe }}</p>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" class="w-60 h-40 py-5" />
                    {% endif %}
                </article>
                {% endfor %}
            </div>

            <div>
                <h1 class="font-bold text-2xl pt-5">Most Viewed Posts:</h1>

                {% for post in most_viewed_posts %}
                <article class="pt-3">
                    <h2 class="font-bold text-xl">
                        <a href="{% url 'blog:homepage' %}{{post.title|slugify}}">{{ post.title }}</a>
                    </h2>
                    <p class="text-sm line-clamp-2"> {{ post.content|striptags|safe }}</p>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" class="w-60 h-40 py-5" />
                    {% endif %}
                </article>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- SIDEBAR -->
    <div class="pt-10">
        <div class="px-32">
        </div>

        <div class="py-5">
            <h1>Example header:</h1>
        </div>

        <div class="py-2">
            <h1>image</h1>
            <h1>test text test text test text test text test text test text test text</h1>
        </div>

        <div class="py-2">
            <h1>image</h1>
            <h1>test text test text test text test text test text test text test text </h1>
        </div>
    </div>
</div>
{% endblock %}