{% extends 'base.html' %}
{% block title %}Notifications{% endblock %}

{% block content %}

<section class="container mx-auto pt-10 prose prose-a:no-underline">
    <h1>Notification list</h1>
    {% for notification in notifications %}
    <a href="{% url 'blog:post_details' notification.post_name.slug %}"">
        <article class=" flex justify-between items-center my-5">
        {% if notification.notification_type == "like" %}
        <p><strong>@{{notification.provider_user}}</strong> liked your post <em>{{notification.post_name}}</em>
        </p>
        {% elif notification.notification_type == "comment" %}
        <p>{{notification.provider_user}} commented on your post <em>{{notification.post_name}}</em></p>
        {% endif %}

        <div class="flex items-center">
            <figure>
                <img src="{{ notification.post_name.image.url }}" alt="" class="w-48 h-24">
            </figure>

            {% if not notification.is_seen %}
            <!--  -->
            {% endif %}
        </div>
        <hr>
        </article>
    </a>
    {% endfor %}
</section>


{% endblock %}