{% extends 'base.html' %}
{% block title %}Notifications{% endblock %}

{% block content %}

<h2>Notification list </h2>
{% for notification in notifications %}
<div>
    <p>
        {% if notification.notification_type == "like" %}
        <a href="{% url 'blog:post_details' notification.post_name.slug %}">
            {{notification.provider_user}} liked your post {{notification.post_name}}
        </a>
        {% elif notification.notification_type == "comment" %}
        <a href="{% url 'blog:post_details' notification.post_name.slug %}">
            {{notification.provider_user}} commented on your post {{notification.post_name}}
        </a>
        {% endif %}

        {% if not notification.is_seen %}
        <a href="{% url 'blog:mark_notification_as_read' notification.notification_id %}">(Mark as read)</a>
        {% endif %}
    </p>
</div>
{% endfor %}

{% endblock %}