{% extends "base.html" %}

{% block title %}Account Settings{% endblock %}

{% block content %}

<section class="prose-lg flex flex-col justify-center items-center h-auto mt-20">

    <div>
        <h1>Your Account Settings</h1>
    </div>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-col mt-5">
            <label for="email" class="font-bold">Email address</label>
            {{ form.email }}
        </div>

        <div class="flex flex-col mt-5">
            <label for="first_name" class="font-bold">First name</label>
            {{ form.first_name }}
        </div>

        <div class="flex flex-col mt-5">
            <label for="last_name" class="font-bold">First name</label>
            {{ form.last_name }}
        </div>

        <div class="mt-8">
            <input type="submit" value="Submit"
                class=" py-1.5 px-4 rounded-md text-stone-50 inline-flex bg-neutral-900 hover:bg-neutral-800 cursor-pointer" />
        </div>

        <div class="mt-10">
            <a href="{% url 'blog:homepage' %}" class="text-neutral-500 text-sm">Back to the homepage</a>
        </div>

    </form>

</section>

{% endblock %}