<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Codeletter{% endblock %}</title>
</head>

<body>
    {% include 'navbar.html' %}

    <header>
        {% block content %}

        {% endblock %}
    </header>

    <script>

        const notificationSocket = new WebSocket(`ws://${window.location.host}/notifications/`);

        notificationSocket.onmessage = (e) => {
            let data = JSON.parse(e.data)
                console.log(data.message);
        }

        notificationSocket.onclose = function(){
            console.error("Socket close unexpectedly");
        }

</script>

</body>
</html>
