<nav>


    <a href="{% url "blog:homepage" %}">
        <p>Home</p>
    </a>

    <a href="{% url "blog:categories_list" %}">
        <p>Browse categories</p>
    </a>

    {% if request.user.is_authenticated %}
    <p>Currently logged as <strong>{{ request.user }}</strong></p>

    <a href="{% url 'blog:logout_user' %}">
        <p>Logout</p>
    </a>

    <a href="{% url 'blog:settings_user' %}">
        <p>Account Settings</p>
    </a>

    <a href="{% url 'blog:notifications' %}">
        <p>Notifications</p>
    </a>    

    <a href="{% url 'blog:profile_settings' %}">
        <p>Profile Settings</p>
    </a>

    <a href="{% url 'blog:create_post' %}">
        <p>Add post</p>
    </a>
    {% else %}
    <a href="{% url 'blog:login_user' %}">
        <p>Login</p>
    </a>

     <a href="{% url 'blog:register_user' %}">
        <p>Register</p>
    </a>
    {% endif %}

   

    
   </nav>
